*{
    font-family: sans-serif;
}

body {
    margin: 0;
}

img, .list, .list-foot, .roots, .text {
    user-select: none;    
}


.main {
    background-size: cover;;
    background-image: url(pictures/bgsecpage.svg);
    background-repeat: no-repeat;
    height: 263px;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.navbar {
    display: flex;
    width: 1200px;
    height: 60px;
    justify-content: space-between;
}

.logo {
    display: flex;  
    align-items: center;
    justify-content: center;
}

.logoimg {
    width: 120px;
    height: 120px;
}

.list {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 140px;
    color: white;
}

.list_item {
    text-decoration: none;
    color: white;
    margin-left: 40px;
    font-family: sans-serif;
    transition: ease 0.01s;
}

.list_item:hover {
    cursor: pointer;
    color: antiquewhite;
}

.other {
    display: flex;
    align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

h1 {
    color: white;
    font-size: 50px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

time {
    opacity: 0.3;
}

.card {
    margin: 0 auto;
    width: 300px;
    padding: 15px; 
}

.img-card {
    width: 300px;
}

.btn-color {
    background-color: #8D86C9;
    height: 45px;
    width: 130px;
    color: white;
    font-size: 18px;
    border: 0;
    border-radius: 10px;

}

p {
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
}


.footer {
    margin-top: 100px;
    background-color: #F7ECE1;
    display: flex;
    width: 192  0px;
    height: 100px;
    justify-content: space-around;
}

.roots {
    display: flex;  
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: #333333;
    font-size: 20px;
}

.list-foot {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 140px;
}

.list_item-foot {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-family: sans-serif;
    transition: ease 0.01s;
}

.list_item-foot:hover {
    cursor: pointer;
    color: darkorchid;
}

.otherfoot {
    display: flex;
    align-items: center;
}

.mg {
    margin-left: 10px;
}

@media screen and (max-width: 1320px) {
   .container {
    margin: 0 auto;
    width: 1200px;
}
}

@media screen and (max-width: 1200px) {
   .container {
    width: 1000px;
}

    .list_item-foot {
        font-size: 13px;
    }
    
     .navbar {
        justify-content: space-between;
    }

    .otherfoot {
        display: none;
    }

    .list_item {
        font-size: 13px;
    }

    .other {
        display: none;
    }

    .navbar {
        width: 1000px;
        justify-content: space-around;
    }

}

@media screen and (max-width: 1000px) {
    .container {
        width: 800px;
    }

    .list_item-foot {
        font-size: 12px;
    }
    
    .otherfoot {
        display: none;
    }

    .list_item {
        font-size: 12px;
    }

    .navbar {
        width: 800px;
        justify-content: center;
    }

    .roots {
        display: none;
    }

    .logo {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 600px;
    }

    .navbar {
        justify-content: space-between;
    }

    .list_item-foot {
        font-size: 8px;
    }
    
    .otherfoot {
        display: none;
    }

    .list_item {
        font-size: 8px;
    }

    .btn-color {
        width: 100%;
    }

    .navbar {
        width: 600px;
        justify-content: center;
    }

    .roots {
        display: none;
    }

    .logo {
        display: none;
    }
    .footer {
        height: 50px;
    }

}

@media screen and (max-width: 600px) {   
.container {
    width: 400px;
}

.navbar {
    display: flex;
    width: 400px;
    height: 60px;
    justify-content: space-around;
}

.brg-menu {
    display: flex;
    visibility:visible;
    border-bottom: 17px double seashell; 
    border-top: 6px solid seashell; 
    content:"";
    height: 5px; 
    width:30px;
    margin: 10px;
}

.logo {
    display: flex;  
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.logoimg {
    width: 100px;
    height: 100px;
}

.list {
    display: none;
    align-items: center;
    font-size: 12px;
    line-height: 140px;
    color: white;
}

.other {
    display: none;
    align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

h1 {
    color: white;
    font-size: 40px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.card {
    width: 300px;
    padding: 15px; 
}

.img-card {
    width: 300px;
}

.btn-color {
    background-color: #8D86C9;
    height: 45px;
    width: 100%;
    color: white;
    font-size: 18px;
    border: 0;    
}

p {
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
}


.footer {
    margin-top: 100px;
    background-color: #F7ECE1;
    display: flex;
    height: 60px;
    justify-content: space-around;
}

.roots {
    display: none;  
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: #333333;
    font-size: 20px;
}

.list-foot {
    display: none;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 140px;
}

.list_item-foot {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-family: sans-serif;
    transition: ease 0.01s;
}

.list_item-foot:hover {
    cursor: pointer;
    color: darkorchid;
}

.otherfoot {
    display: flex;
    align-items: center;
}

.mg {
    margin-left: 10px;
}
}

@media screen and (max-width: 400px) {
.container {
    width: 250px;
}

.navbar {
    display: flex;
    width: 250px;
    height: 60px;
    justify-content: space-around;
}

.brg-menu {
    display: flex;
    visibility:visible;
    border-bottom: 17px double seashell; 
    border-top: 6px solid seashell; 
    content:"";
    height: 5px; 
    width:30px;
    margin: 10px;
}

.logo {
    display: flex;  
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.logoimg {
    width: 50px;
    height: 50px;
}

.list {
    display: none;
    align-items: center;
    font-size: 12px;
    line-height: 140px;
    color: white;
}

.other {
    display: none;
    align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

h1 {
    color: white;
    font-size: 40px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


.card {
    width: 100%;
    padding: 15px; 
}

.img-card {
    width: 100%;
}

.btn-color {
    background-color: #8D86C9;
    height: 45px;
    width: 100%;
    color: white;
    font-size: 18px;
    border: 0;    
}

p {
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
}


.footer {
    margin-top: 100px;
    background-color: #F7ECE1;
    display: flex;
    height: 60px;
    justify-content: space-around;
}

.roots {
    display: none;  
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: #333333;
    font-size: 20px;
}

.list-foot {
    display: none;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 140px;
}

.list_item-foot {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-family: sans-serif;
    transition: ease 0.01s;
}

.list_item-foot:hover {
    cursor: pointer;
    color: darkorchid;
}

.otherfoot {
    display: flex;
    align-items: center;
}

.mg {
    margin-left: 10px;
}
}